
	<div id="landing_banner">
		<h1 id="banner">
			bringup
		</h1>
		<p id="banner_text1">teachers know education must continue at home</p>
		<p id="banner_text1">we offer parents just the right information at just the right time</p>
		<div id="quote_slides">
			fly in text quotes here
		</div>
	</div>
	<div id="landing_body">
		<%=image_tag 'circle-laptop.png'%>
		<%=image_tag 'circle-phone.png'%>
		<%=image_tag 'circle-convo.png'%>
	</div>
	<div id="landing_footer">
	</div>
