
	<div id="landing_banner">
		<h1 id="banner">
			bringup
		</h1>
		<p id="banner_text1">teachers know education must continue at home</p>
		<p id="banner_text1">we offer parents just the right information at just the right time</p>
		<div id="quote_slides">
			fly in text quotes here
		</div>
	</div>
	<div id="landing_body">
		<div class="landing_panel_wrapper">
			<div class="landing_panel">
				<%=image_tag 'circle-laptop.png'%>
				<h3>Teacher Enters Lesson Plans</h3>
				<p>BringUp provides a streamlined interface to enter, track and update daily lesson plan blurbs to share with parents about what their child learned that day.</p>
			</div>
			<div class="landing_panel">
				<%=image_tag 'circle-phone.png'%>
				<h3>Parents Receive a Text Message</h3>
				<p>Lesson plan blurbs are sent to parents daily. No smartphone or special app required.</p>
			</div>
			<div class="landing_panel">
				<%=image_tag 'circle-convo.png'%>
				<h3>Parents Engage Children</h3>
				<p>Parents receive the messages in teh evening when they are with their children. Converstaion can happen at home, in the car or at the store.</p>
			</div>
			<div style="display: block; clear: both;"></div>
		</div>
	</div>
	<div id="landing_footer">
	</div>
