

<form class="Messages" action="<%=url_for([@course,@message])%>" method="post">
  <div class="form_div">
    <div id="messages-list"></div>

    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

    <div class="actions">
      <input type="submit" value="Submit", class="submit" %>
    </div>
  </div>
</form>