<div class="formcard">
  <h2>Add a new course or click the desired course heading</h2>
  <div class="courseindex">
    <% current_teacher.courses.each do |course| %>
        <div class= "courseselect">
          <%= link_to course.name, course %>
          <h5><%= link_to 'Edit', edit_course_path(course.id) %> | <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %>
          </h5>
        </div>
    <% end %>
    <div class= "courselist">
      <%= link_to '+ Add Course', new_course_path %>
    </div>
  </div>
</div>